body, html {
    height: 100%;
    width: 100%;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

.navbar-custom {
    background-color: #fff;
}

.homepage {
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.homepage-col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a:link {
    color: #fff;
    text-decoration: none;
  }
  
a:visited {
    color: #fff;
    text-decoration: none;
}

.form {
    border: 1px solid gray;
    border-radius: 25px;
    padding: 50px;
    background-color: rgba(192, 190, 190, 0.234);
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
